@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");

*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
:root {
   /* Colors */
   /* ### Primary */
   --dark-desaturated-cyan-filter: invert(75%) sepia(7%) saturate(3666%)
      hue-rotate(116deg) brightness(96%) contrast(80%); /* for bottom nav svg colour filter */
   --dark-moderate-cyan-filter: invert(57%) sepia(35%) saturate(473%)
      hue-rotate(118deg) brightness(95%) contrast(92%);
   --dark-desaturated-cyan: hsl(167, 40%, 24%); /* graphic design text */
   --dark-moderate-cyan: hsl(168, 34%, 41%); /* footer */
   --cyan-background: hsl(165, 46%, 73%); /* for footer background */
   --dark-blue: hsl(198, 62%, 26%); /* photography text */
   --soft-red: hsl(7, 99%, 70%);
   --yellow: hsl(51, 100%, 49%);
   /* ### Neutral */
   --very-dark-desaturated-blue: hsl(212, 27%, 19%);
   --very-dark-greyish-blue: hsl(213, 9%, 39%);
   --dark-greyish-blue: hsl(232, 10%, 55%);
   --greyish-blue: hsl(210, 4%, 67%);
   --white: hsl(0, 0%, 100%);

   /* Typography */
   /* ### Font */
   --Barlow: "Barlow", sans-serif;
   --Fraunces: "Fraunces", serif;

   /* FLUID SPACE AND FONT-SIZE */
   /* Hero */
   --fluid-title: clamp(2.5rem, calc(1.32rem + 2.7vw), 3.75rem);
   --fluid-hero-gap: clamp(2.5rem, calc(0.14rem + 5.41vw), 5rem);
   --fluid-hero-padding: clamp(8rem, calc(-2.41rem + 23.78vw), 19rem);
   /* Details Card */
   --fluid-paragraph: clamp(0.88rem, calc(0.64rem + 0.54vw), 1.13rem);
   --fluid-heading: clamp(1.5rem, calc(0.55rem + 2.16vw), 2.5rem);
   --fluid-inner-padding: clamp(4rem, calc(1.16rem + 6.49vw), 7rem);
   --fluid-outer-padding: clamp(3rem, calc(-3.62rem + 15.14vw), 10rem);
   /* Design Card */
   --fluid-paragraph-small: clamp(0.88rem, calc(0.76rem + 0.27vw), 1rem);
   --fluid-heading-small: clamp(1.25rem, calc(0.07rem + 2.7vw), 2.5rem);
   --fluid-top-padding: clamp(10rem, calc(-4.19rem + 32.43vw), 25rem);
   --fluid-inline-padding: clamp(2rem, calc(-7.46rem + 21.62vw), 12rem);
   --fluid-bottom-padding: clamp(0rem, calc(-1.89rem + 4.32vw), 2rem);
   /* Testimonials */
   --fluid-top-padding-small: clamp(3rem, calc(0.16rem + 6.49vw), 6rem);
   --fluid-top-padding-xs: clamp(2rem, calc(0.11rem + 4.32vw), 4rem);
   --fluid-bottom-padding-small: clamp(5rem, calc(4.05rem + 2.16vw), 6rem);
   --fluid-block-padding: clamp(0.5rem, calc(-0.92rem + 3.24vw), 2rem);

   --transition: 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

body {
   text-align: center;
   font-family: var(--Barlow);
   font-size: 18px;
   color: var(--very-dark-desaturated-blue);
   overflow-x: hidden;
}
header,
section,
footer {
   padding: 1.5rem;
}
li {
   list-style: none;
}
p {
   line-height: 1.5;
}
h2 {
   font-weight: 900;
   font-size: xx-large;
}
.title,
.heading,
.nav-link-inverted,
.learn-more,
.name {
   font-family: var(--Fraunces);
}
.nav-link,
.learn-more,
.icon {
   cursor: pointer;
}

/* .hero-title-container, */
.graphic-design-div,
.photography-div {
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   padding: 100% 1rem 1rem;
}

.hero {
   background-image: url("./images/mobile/image-header.jpg");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}
/* -------------------------------------- */ /* -------------------------------------- */
/* ----------- Top Navigation ------------ */
.top-nav {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
   z-index: 100;
}
/* Top Right nav triangle */
.top-nav ul::before {
   content: "";
   position: absolute;
   right: 0;
   top: calc(0rem - var(--height));
   border-bottom: var(--height) solid var(--white);
   border-left: var(--height) solid transparent;
}
.top-nav ul {
   --height: 1.5rem;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: space-between;
   position: absolute;
   inset-inline: 0;
   top: calc(3rem + var(--height));
   background-color: var(--white);
   padding: 2rem;
   row-gap: 1.5rem;
   color: var(--dark-greyish-blue);

   opacity: 0;
   pointer-events: none;
   transform: translateY(-2rem);
   transition: 0.2s ease;
   transition-property: transform, opacity;
}
.top-nav.open ul {
   opacity: 1;
   pointer-events: all;
   transform: translateY(0);
}

.top-nav .nav-link-inverted {
   border-radius: 20rem;
   background-color: var(--yellow);
   color: var(--very-dark-desaturated-blue);
   padding: 1rem 1.5rem;
   font-size: smaller;
   text-transform: uppercase;
}
.nav-link {
   transition: var(transition);
   transition-duration: 0.1s;
}
/* -------------------------------------- */ /* -------------------------------------- */
/* ----------- Hero Section ------------ */
.hero-title-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 50%;
   gap: 2.5rem;
}

.title {
   text-transform: uppercase;
   letter-spacing: 0.375rem;
}
.hero .title {
   color: var(--white);
   font-size: 2.75rem;
   line-height: 1.2;
   font-weight: bold;
}
/* -------------------------------------- */ /* -------------------------------------- */
/* ----------- Main Section ------------ */
.details-image,
.image img {
   object-fit: cover;
   object-position: center;
   width: 100%;
}

.details-card {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 3rem 1.5rem 4rem;
}
.subtext {
   margin: 1.5rem 0rem 2rem;
   color: var(--dark-greyish-blue);
}
.learn-more {
   position: relative;
   text-transform: uppercase;
   font-size: smaller;
   font-weight: 900;
   letter-spacing: 1px;
   color: var(--very-dark-desaturated-blue);
   transition: var(--transition);
}
/* Coloured Underline */
.learn-more::after {
   content: "";
   position: absolute;
   bottom: 0.5px;
   left: 50%;
   transform: translateX(-50%);
   width: 110%;
   height: 0.5rem;
   border-radius: 5rem;
   transition: var(--transition);
   z-index: -1;
}
.learn-more.yellow::after {
   background-color: hsl(51, 100%, 49%, 0.3);
}
.learn-more.pink::after {
   background-color: hsl(7, 99%, 70%, 0.3);
}
.learn-more:hover.yellow::after {
   background-color: hsl(51, 100%, 49%, 0.8);
}
.learn-more:hover.pink::after {
   background-color: hsl(7, 99%, 70%, 0.8);
}

.graphic-design-div,
.photography-div {
   font-size: 1rem;
}
.graphic-design-div,
.graphic-design-div .subtext {
   color: var(--dark-desaturated-cyan);
}
.graphic-design-div {
   background-image: url("./images/mobile/image-graphic-design.jpg");
}
.photography-div,
.photography-div .subtext {
   color: var(--dark-blue);
}
.photography-div {
   background-image: url("./images/mobile/image-photography.jpg");
}
/* -------------------------------------- */ /* -------------------------------------- */
/* ----------- Testimonials ------------ */
.testimonials {
   padding-bottom: 5rem;
}
.testimonials .title {
   font-size: smaller;
   color: var(--greyish-blue);
   padding: 1.5rem 0 0;
}
.testimonials .image {
   border-radius: 50%;
   overflow: hidden;
   aspect-ratio: 1/1;
   width: 3.75rem;
}
.testimonial {
   display: grid;
   place-items: center;
   padding: 3rem 0rem 0rem;
}
.testimonial .subtext {
   margin-bottom: 1.5rem;
   color: var(--very-dark-greyish-blue);
}
.name {
   font-weight: 900;
}
.occupation {
   color: var(--greyish-blue);
   font-size: 14px;
   padding: 0.5rem 0;
}
/* -------------------------------------- */ /* -------------------------------------- */
/* -------------- Gallery --------------- */
.gallery,
.two-column-grid {
   display: grid;
   grid-auto-flow: dense;
   /* 'dense' makes it possible to swap column positions*/
   padding: 0;
}
.gallery {
   grid-template-columns: repeat(2, 1fr);
}
.gallery-image {
   aspect-ratio: 1 / 1;
   object-fit: cover;
   width: 100%;
   margin-left: -1px;
}
/* -------------------------------------- */ /* -------------------------------------- */
/* -------------- Footer ---------------- */

.footer {
   display: grid;
   place-items: center;
   padding: 3rem 0 2.5rem;
   background-color: var(--cyan-background);
}
.footer .nav-list {
   gap: 3.5rem;
   max-width: 20rem;
}
.footer .nav-link {
   transition: var(--transition);
}
.footer .nav-link:hover {
   color: var(--white);
}
.bottom-logo {
   filter: var(--dark-moderate-cyan-filter);
   height: 2rem;
}
.bottom-nav .nav-list {
   display: flex;
   align-items: center;
   justify-content: space-around;
   width: 100%;

   padding: 2.25rem 0 2.5rem;
   color: var(--dark-moderate-cyan);
}
.bottom-nav .nav-list :nth-child(2) {
   padding-left: 1rem;
}
.socials {
   display: flex;
   justify-content: center;
   gap: 2rem;
   padding: 2rem 0;
}
.socials .icon:hover {
   filter: brightness(0) invert(1);
}

.attribution {
   font-size: 11px;
   text-align: center;
}
.attribution a {
   color: hsl(228, 45%, 44%);
}

/* Breakpoints */
/* Breakpoint for the navigation */
@media screen and (min-width: 700px) {
   /* -------------------------------------- */ /* -------------------------------------- */
   /* ----------- Top Navigtion ------------ */
   /* Remove Hamburger Icon */
   .menu {
      display: none;
   }
   /* Increase size of Logo */
   .logo {
      height: 2rem;
   }
   /* Fixed height to prevent vertical shifting during animaiton */
   .top-nav {
      height: 3rem;
      padding: 0rem 1rem;
   }
   /* Remove Top-right nav triangle */
   .top-nav ul::before {
      display: none;
   }
   .top-nav ul {
      opacity: 1;
      pointer-events: all;
      transform: translateY(0);

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: static;
      top: calc(3rem + var(--height));
      background-color: transparent;
      padding: 0;
      column-gap: 2.5rem;
   }
   .top-nav .nav-link {
      color: var(--white);
   }
   .nav-link.nav-link-inverted {
      color: var(--very-dark-desaturated-blue);
      background-color: var(--white);
   }
   .nav-link.nav-link-inverted:hover {
      background-color: hsl(0, 0%, 100%, 0.3);
      color: var(--white);
      transition-duration: 0.2s;
   }
   /* -------------------------------------- */ /* -------------------------------------- */
   /* ----------- Hero Section ------------ */
   .hero {
      background-image: url("./images/desktop/image-header.jpg");
      background-position: bottom;
   }
   .hero-title-container {
      gap: var(--fluid-hero-gap);
      padding: 4rem 0rem 19vw;
      padding-bottom: var(--fluid-hero-padding);
   }
   .hero-title-container .title {
      padding-block: 1.5rem;
      font-size: var(--fluid-title);
   }
   .arrow {
      height: calc(5rem + 2vw);
   }
   /* -------------------------------------- */ /* -------------------------------------- */
   /* ----------- Main Section ------------ */
   .two-column-grid {
      grid-template-columns: repeat(2, 1fr);
   }
   .grid-reverse :first-child {
      grid-column: 2;
   }
   .details-card {
      align-items: baseline;
      text-align: initial;
      font-size: var(--fluid-paragraph);
      padding-block: 0rem;
   }
   .details-card .heading {
      font-size: var(--fluid-heading);
      line-height: 1.2;
   }
   .details-card .subtext {
      margin-block: 1rem;
   }
   .details-card.one {
      padding-left: var(--fluid-outer-padding);
      padding-right: var(--fluid-inner-padding);
   }
   .details-card.two {
      padding-left: var(--fluid-inner-padding);
      padding-right: var(--fluid-outer-padding);
   }
   .graphic-design-div,
   .photography-div {
      font-size: var(--fluid-paragraph-small);
      padding-top: var(--fluid-top-padding);
      padding-inline: var(--fluid-inline-padding);
      padding-bottom: var(--fluid-bottom-padding);
   }
   :is(.graphic-design-div, .photography-div) .heading {
      font-size: var(--fluid-heading-small);
   }
   .graphic-design-div {
      background-image: url("./images/desktop/image-graphic-design.jpg");
   }
   .photography-div {
      background-image: url("./images/desktop/image-photography.jpg");
   }
   /* -------------------------------------- */ /* -------------------------------------- */
   /* ----------- Testimonials ------------ */
   .testimonials,
   .testimonial-container {
      display: flex;
      align-items: center;
   }
   .testimonials {
      flex-direction: column;
      padding-top: var(--fluid-top-padding-small);
      padding-bottom: var(--fluid-bottom-padding-small);
   }
   .testimonial-container {
      gap: 2rem;
   }
   .testimonial {
      padding-top: var(--fluid-top-padding-xs);
      max-width: 17rem;
   }
   .testimonial .subtext {
      font-size: 0.875rem;
      padding-block: var(--fluid-block-padding);
   }
   /* -------------------------------------- */ /* -------------------------------------- */
   /* ----------- Gallery ------------ */
   .gallery {
      grid-auto-flow: column;
      grid-auto-columns: 25%;
   }
   .gallery-image {
      aspect-ratio: initial;
   }
}

@media screen and (min-width: 1440px) {
   /* -------------------------------------- */ /* -------------------------------------- */
   /* ----------- Hero Section ------------ */
   .hero-title-container .title {
      letter-spacing: 0.5rem;
   }
   .arrow {
      height: 7rem;
   }
}
